{% extends 'base.html' %}

{% block content %}
<section>
    <div class="content row padding-bottom-3 desktop-12 container">
        <h1>Seja bem-vindo ao Eventif, seu contato será respondido em breve.</h1>
        <div class="desktop-6">
            <p>Estes foram os dados que você enviou ao contatar nossa equipe:</p>
            
            <ul>
                <li>Nome: {{ contact.name }}</li>
                <li>Email: {{ contact.email }}</li>
                <li>Telefone: {{ contact.phone }}</li>
                <li>Mensagem: {{ contact.message }}</li>
            </ul>

            <p>Em até 48h úteis alguém da nossa equipe entrará em contato com você.</p>
        </div>
    </div>
</section>
{% endblock content %}